<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>


  <body>
    <h1> hello from maintenance</h1>

    <p>site is undergoing maintenance</p>
    <p>just comment out in code to go back from maintenance</p>

    {{> footer}}

  </body>


</html>
